<ul class="list-group mb-3 p-3 bg-white rounded shadow-sm" id="shop">
    <li class="list-group-item justify-content-between lh-condensed">Lista de productos - <span class="badge badge-secondary"><small class="products text-right"><%= carrito.length %> </small> <small>productos</small></span></li>
        <% if(carrito){ var precio = 0 %>
          <% for(var i=0; i < carrito.length; i++) { 
            var sumar = carrito[i].precio;
            var precio = parseFloat(precio + sumar);
            var precio2 = precio.toFixed(2); %> 
        <li class="list-group-item justify-content-between lh-condensed" id="<%= carrito[i].id %>">
        <div class="d-flex" >
          <div style="width: 100%;">
            <h6 class="my-0"><%= carrito[i].precio %> €</h6>
            <small class="text-muted"><%= carrito[i].nombre %></small>
          </div>
        </div>
        </li>
        <% } %>
        <% }else{ precio2 = 0;  %>
        <% } %>
        
</ul>
<ul class="list-group mb-3 p-3 bg-white rounded shadow-sm" id="shop">
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (€)</span>
          <strong id="total">

            <%if (!precio2) { %>
            0€
            <% }else{ %>
            <%= precio2 %> €
            <% } %>
          
          </strong>
        </li>
</ul>
<div class="text-center"><a href="/" class="btn btn-link align-items-center">Volver al catalogo</a></div>